extends layout

block content
    #bdy.text-center
        h3.pb-5 Welcome to App X
        a.btn.btn-info.my-4.btn-block.p-2(type='button' href='http://10.100.67.113/spb2b/CentralAuthSys/CASLogin?appkey=c7d39451-85b1-4e68-a697-6bfec4ee7280') Login
        a#login-act.btn.btn-outline-info.my-4.btn-block.p-2(type='button' href='/register') Register