extends layout

block content
    #bdy.text-center
        h3.pb-5 Welcome to App X
        a.btn.btn-info.my-4.btn-block.p-2(type='button' href='/') Login
        a#login-act.btn.btn-outline-info.my-4.btn-block.p-2(type='button' href='/register') Register