extends layout

block content
    #bdy.text-center
        h3.pb-5 Welcome to App X
        a.btn.btn-info.my-4.btn-block.p-2(type='button' href='http://10.100.67.113/spb2b/CentralAuthSys/CASLogin?appkey=eb910841-39ae-41b1-a9ee-e1757a6ae9cc') Login
        a#login-act.btn.btn-outline-info.my-4.btn-block.p-2(type='button' href='/register') Register