extends layout

block content
 card
  card-body
    form.text-center#form-reg.border.border-medium.p-5
      p.h4.mb-4 Sign up
      p#con-err.error.text-danger
      input#name.form-control(type='text' placeholder='Name')
      input#email.form-control.mt-4(type='email' placeholder='Email')
      p#em-err.error.text-danger.mb-4
      input#password.form-control(type='password' placeholder='Password')
      p#pas-err.error.text-danger.mb-1
      button#btnn.btn.btn-info.my-5.btn-block(type='button') Sign up
      hr
      p
        | By clicking em Sign up
        br
        | you agree to our 
        a(href='' target='_blank') terms of service
